<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Custom Header</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .button {
            background-color: lightgreen;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <button class="button" onclick="initiateConnection()">Click here to initiate custom header & check private endpoint connectivity</button>

    <script>
        function initiateConnection() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "http://whitebooks-poc-21698596.ap-south-1.elb.amazonaws.com", true);
            xhr.setRequestHeader("target", "abc.xyz");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // Handle success response
                        alert('Custom header initiated!');
                    } else {
                        // Handle error response
                        alert('Error initiating custom header: ' + xhr.statusText);
                    }
                }
            };
            xhr.send();
        }
    </script>
</body>
</html>
